.file-list {
    font-family: Helvetica, sans-serif;
    width: 100%;
    max-width: 980px;
    color: #333;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.file-list-item {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.fileNameAndFileIcon {
    display: flex;
    margin: 0 5px;
}

.file-name {
    margin-left: 5px;
}

.file-icon .fa-folder {
    color: #508FCA;
}

.commit-message {
    max-width: 442px;
    padding-left: 10px;
    overflow: hidden;
}